@use 'fun';

$main-color: green;
$second-color: blue;
$third-color: red;

$border-basic: 1px solid;

@mixin article ($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: $border-basic $border-color;
    font-size: $font-size;
    padding: 1rem;
    flex: 1;
}

%heading{
    color: $main-color;
    text-underline-offset: .4rem;
}

div{
    border: $border-basic $third-color;
    justify-content: center;
    text-align: center;

    h1{
        @extend %heading;
        text-decoration: underline;
        text-decoration-color: $second-color;
        text-decoration-thickness: 1px;
    }

    h2{
        @extend %heading;
        padding: 1rem;
        border: 1px solid $third-color;
        width: fit-content;
        margin:  2rem auto 0 auto;
    }

    section{
        padding: 1rem;
        display: flex;

        article{
    
            &:nth-child(odd){
                @include article($second-color, $main-color);
            }
    
            &:nth-child(even){
                @include article($third-color, $main-color);
            }
        }

        &:last-child{
            article{
                @include article($main-color, $second-color, fun.to-rem(24px));
            }
        }

        &.squares-wrap{
            display: flex;
            justify-content: space-between;
            
            div[class^=fs]{
                width: fun.to-rem(45px);
                height: fun.to-rem(45px);
                text-align: left;

                @for $i from 1 through 19 {
                    @if $i != 10{
                        &:nth-child(#{$i}){
                            background-color: darken(white, calc(5% * $i));
                            color: lighten(black, calc(5% * $i));
                        }
                    }
                    @else{
                        &:nth-child(#{$i}){
                            background-color: $second-color;
                            color: $third-color;
                            font-weight: bold;
                        }
                    }
                }
            }

            $sizes: 1rem, 2rem, 3rem;
            @each $par in $sizes{
                .fs-#{$par}{
                    font-size: $par;
                }
            }
        }
    }
}